@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline-style: none; */
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.32px;
  line-height: 1.4;
}

/* 공통영역 */
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
/* ===== header =====*/
.header {
  position: sticky;
  top: 0;
  display: block;
  width: 100%;
  height: 96px;
  background-color: black;
  z-index: 999;
}
.nav-container {
  width: 1184px;
  height: 72px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  color: #fff;
}

.nav-left h1 {
  float: left;
}
.nav-left h1 a img {
  display: block;
  width: 129px;
  height: 48px;
  background-color: black;
  margin-right: 34px;
}
.nav-left ul li {
  float: left;
  margin-top: 16px;
  margin-right: 14px;
}
.nav-left ul li a {
  font-size: 18px;
  color: #fff;
}


.nav-right {
  float: right;
  width: 388px;
  height: 48px;
}
.nav-right .r-top-menu ul li {
  float: left;
  margin-top: 18px;
}
.nav-right .r-top-menu ul li:nth-child(2),
.nav-right .r-top-menu ul li:nth-child(5) {
  margin-left: 12px;
}
.nav-right .r-top-menu ul li a {
  font-size: 14px;
  color: #fff;
}
.nav-r-vline {
  float: left;
  width: 1px;
  height: 12px;
  background-color: #fff;
  margin: 20px 22px 0 22px;
}
.r-top-icon {
  float: right;
}
.r-top-icon img {
  width: 48px;
}
.m-con {
  margin-left: 8px;
}
/* viusal */
.viusal {
  position: relative;
  display: block;
}
.viusal-slide a img {
  width: 100%;
}
/* event */
.event {
  position: relative;
  display: block;
  width: 100%;
}
.imgbox {
  width: 1184px;
  height: 178px;
  margin: 48px auto 0;
}
.imgbox ul li {
  float: left;
}
.imgbox ul li a img {
  height: 176px;
}


/* best goods */
.best-goods {
  position: relative;
  display: block;
  width: 1184px;
  margin: 0 auto;
  margin-top: 80px;
}
.best-goods h5 {
  font-size: 32px;
}

.best-g-box div ul li {
  position: relative;
  display: block;
  width: 376px;
  height: 483px;
  float: left;
  margin-right: 28px;
}
.best-g-box div li .f-imgbox a img {
  position: relative;
  display: block;
  width: 276px;
  height: 276px;
}
.best-g-box div li h6 {
  position: relative;
  display: block;
  font-size: 18px;
  margin-top: 22px;
}
.best-g-box div li p {
  position: relative;
  display: block;
  font-size: 16px;
  color: #9b9b9b;
}
.floor-1 li:last-child {
  margin-right: 0;
}
.f-imgbox {
  position: relative;
  display: block;
  width: 376px;
  height: 416px;
  background-color: #f9f7f8;
  padding: 70px 0 0 50px;
}


.product-icon {
  position: relative;
  display: block;
}
.product-icon button {
  position: absolute;
  right: 11px;
  top: -16px;
  /* bottom: px; */
  display: block;
  /* float: right; */
  border: 1px solid #eee;
  border-radius: 50%;
  background-color: #fff;
}
.product-icon button a {
  position: relative;
  display: block;
  width: 68px;
  height: 68px;
  background: url('../images/다운로드.svg') no-repeat center;
  background-size: cover;
}
.product-icon button:hover {
  background-color: #000;
}
.floor-2 {
  position: relative;
  display: block;
  margin-top: 60px;
}
.floor-2 li:last-child {
  margin-right: 0;
}
.floor-2 ul li .mu-tag img {
  position: absolute;
  top: 16px;
  left: 16px;
  display: block;
}
/* more goods banner*/
.more-goods-banner {
  position: relative;
  display: block;
  width: 100%;
}
.more-goods-banner .in-banner {
  position: relative;
  display: block;
  width: 1184px;
  height: 208px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 150px;
}

/* footer */
.footer {
  position: relative;
  display: block;
  
}
.footer-fbox {
  position: relative;
  display: block;
  width: 100%;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid rgb(231, 228, 228);
}
.fter-in-t {
  position: relative;
  display: block;
  width: 1184px;
  height: 62px;
  margin: 0 auto;
}


.l-text {
  position: relative;
  display: block;
  float: left;
  height: 100%;
}
.l-text li {
  position: relative;
  display: block;
  float: left;
  /* line-height: 62px; */
  padding: 23px 0;
  margin-right: 23px;
}
.l-text li a {
  position: relative;
  display: block;
  font-size: 14px;
}

.r-app {
  position: relative;
  display: block;
  float: right;
  margin: 11px 0;
}
.r-app button {
  position: relative;
  display: block;
  float: left;
  width: 128px;
  height: 40px;
  background-color: #fafafa;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-right: 25px;
  line-height: 40px;
  cursor: pointer;
}
.r-app a {
  position: relative;
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin: 7px 0;
}
.r-app .kaka {
  background: url('../images/icon\ kakao.svg') no-repeat center;
  background-size: cover;
  margin-right: 10px;
}
.r-app .instar {
  background: url('../images/icon\ instar.svg') no-repeat center;
  background-size: cover;
}

.fter-in-b {
  position: relative;
  display: block;
  width: 1184px;
  height: 215px;
  margin: 0 auto;
  /* background-color: green; */
  padding-top: 10px;
}

.fter-in-b a {
  color: #4bb8ce;
}
.left-footer {
  position: relative;
  display: block;
  float: left;
}
.left-footer img {
  position: relative;
  display: block;
  width: 82px;
  height: 32px;
  margin-top: 10px;
  margin-bottom: 23px;
}
.left-footer p {
  position: relative;
  display: block;
  font-size: 13px;
  color: #212121;
  margin-bottom: 4px;
}
.left-footer p:last-child {
  margin-top: 30px;
}

.right-footer {
  position: relative;
  display: block;
  float: right;
  text-align: right;
}
.right-footer h6 {
  font-size: 14px;
}
.right-footer h3 {
  font-size: 24px;
}
.right-footer p {
  font-size: 13px;
}
.right-footer p span {
  font-size: 12px;
  color: #757575;
}

.right-footer button {
  position: relative;
  display: block;
  float: left;
  width: 88px;
  height: 32px;
  border: 1px solid #212121;
  border-radius: 4px;
  background-color: #fff;
  font-size: 13px;
  display: block;
  cursor: pointer;
  margin-top: 11px;
}
.right-footer .b-1 {
  margin-right: 8px;
}



/*  반응형 */

@media all and (max-width: 1200px) {
  .header {
    width: 100%;
  }
  
  .nav-container {
    width: 90%;
  }
}

@media all and (max-width: 900px) {
  .nav-left ul {
    display: none;
  }
  .nav-right .r-top-menu {
    display: none;
  }
}
  
@media all and (max-width: 500px) {
  .nav-right {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
