@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline-style: none; */
}

.container {
  position: relative;
  display: flex;
  height: 500px;
  background-color: skyblue;


  flex-wrap: wrap;
  align-content: stretch;

}

.item {
  position: relative;
  display: block;
  background-color: yellow;
  border: 5px solid #333;
  width: 300px;
}

/* @media all and (max-width: 800px) {
  .container {
    flex-direction: column-reverse;
  }
} */